@import "about";
body, html{
height: 100%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    margin:0;
    padding:0;

}
header{
    padding:10px;
    img{
        max-height: 75px;
    }
    nav{
        float:right;
        ul{
            margin: 0;
            li{
                float: left;
                list-style-type: none;
                padding: 5px;
                margin:5px;
            }
        }
    }
}
$colors : (
    primary : #1b007e,
    secondary : #f5af19,
    light : #FFF,
);
main{
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background: map-get($colors, primary);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, map-get($colors, secondary), map-get($colors, primary));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, map-get($colors, secondary), map-get($colors, primary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    height: 90%;width:100%;
    .container{
        h1{
        color:map-get($map: $colors, $key: light );
        margin-top:3rem;
        padding-left:1rem;
        transform: rotate(-6deg)
    }
    }
}

